* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #222;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.781)), url(background.jpg);
    background-position: center;
    background-size: cover;
    opacity: 90%;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: transparent;
}
nav a {
    background-color: transparent !important;
}
nav img {
    width: 80px;
    background-color: transparent;
}
.nav-links {
    flex: 1;
    text-align: right;
    background-color: transparent;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    background-color: transparent;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    background-color: transparent;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #8ef16f;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: #8ef16f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
}
.text-box h1 {
    font-size: 80px;
    background-color: transparent;
}
.text-box h2 {
    font-size: 20px;
    background-color: transparent;
}
.text-box p {
    margin: 0 0 10px;
    font-size: 17.5px;
    color: #fff;
    background-color: transparent;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
}
.hero-btn:hover {
    border: 1px solid #8ef16f;
    background: #8ef16f;
    transition: 0.2s;
}
nav .bx {
    display: none;
}